<!DOCTYPE html>
<html>

<head>
    <title>文章分类编辑</title>
    <% include resources.html %>
        <link type="text/css" rel="Stylesheet" href="/public/js/jquery.datetimepicker.css" />
        <script type="text/javascript" src="/public/js/jquery.datetimepicker.js"></script>
        <script type="text/javascript">
            $(function () {
                $("#btnSave").bind("click", function () {
                    var data = {
                        id: $("#hideId").val(),
                        categoryName: $("#txtCategoryName").val(),
                        parentId: $("#drpParent").val(),
                        sortNum: $("#txtSortNum").val(),
						innerCode: $("#hideInnerCode").val(),
                        seoTitle: $("#txtSEOTitle").val(),
                        seoKeywords: $("#txtSEOKeywords").val(),
                        seoDescription: $("#txtSEODescription").val(),
                    };

                    var url = "/admin/articleCategory/save";
                    $.ajaxPost(url, data, function (result) {
                        if (result === "") {
                            _mapp.alert("保存完成！", function () {
                                window.location = "/admin/articleCategory";
                            });
                        } else {
                            _mapp.alert("保存失败！失败原因：" + result);
                        }
                    }, function (err) {
                        _mapp.alert("保存失败！失败原因：" + err);
                    });
                });

				$("#drpParent").val($("#hideCategoryId").val());
            });
        </script>
</head>

<body>
    <form id="form1" name="form1" method="post" action="" class="xw_container">
        <table border="0" cellspacing="1" cellpadding="0" class="xw_edit_table">
            <tr>
                <td class="label">分类名称：</td>
                <td class="input">
                    <input type="text" id="txtCategoryName" class="win" value="<%=data.categoryName%>" />
                </td>
            </tr>
            <tr>
                <td class="label">父级分类：</td>
                <td class="input">
                    <select id="drpParent">
                        <option value="0">---根分类---</option>
                        <% if (categories.length > 0) {
						categories.forEach(function(category){
						%>
						<option value="<%=category.id%>"><%=categoryPrefix(category.innerCode)%><%=category.categoryName%></option>
						<%
						})
							}
						%>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="label">排序编号：</td>
                <td class="input">
                    <input type="text" id="txtSortNum" class="win" value="<%=data.sortNum%>" />
                </td>
            </tr>
            <tr>
                <td class="label">SEO标题：</td>
                <td class="input">
                    <input type="text" id="txtSEOTitle" value="<%=data.seoTitle%>" class="win" />
                </td>
            </tr>
            <tr>
                <td class="label">SEO关键词：</td>
                <td class="input">
                    <input type="text" id="txtSEOKeywords" value="<%=data.seoKeywords%>" class="win" />
                </td>
            </tr>
            <tr>
                <td class="label">SEO描述：</td>
                <td class="input">
                    <textarea id="txtSEODescription" class="wtextarea"><%=data.seoDescription%></textarea>
                </td>
            </tr>
            <tr>
                <td class="label"></td>
                <td class="input">
                    <input type="button" id="btnSave" value="保存" class="xw_btn" />
                    <input type="hidden" id="hideId" value="<%=data.id%>" />
					<input type="hidden" id="hideCategoryId" value="<%=data.parentId%>" />
					<input type="hidden" id="hideInnerCode" value="<%=data.innerCode%>" />
                </td>
            </tr>
        </table>
    </form>
</body>

</html>