<!DOCTYPE html>
<html>

<head>
    <title>单页面列表</title>
    <% include resources.html %>
        <script type="text/javascript">
            function deleteFn(id) {
                _mapp.confirm("确定要删除此信息吗？", function () {
                    var url = "/admin/article/delete/" + id;
                    $.ajaxGet(url, null, function (result) {
                        if (result === "") {
                            _mapp.alert("删除完成！", function () {
                                window.location.reload(0);
                            });
                        } else {
                            _mapp.alert("删除失败！失败原因：" + result);
                        }
                    }, function (err) {
                        _mapp.alert("删除失败！失败原因：" + err);
                    });
                });
            }

            $(function () {
                $(".delAction").bind("click", function () {
                    deleteFn($(this).attr("data-id"));
                });
            });
        </script>
</head>

<body>
    <form id="form1" name="form1" method="post" action="" class="xw_container">
        <table border="0" cellspacing="1" cellpadding="0" class="xw_list_table">
            <tr>
                <th style="width:30px;">编号</th>
                <th style="width:140px;">分类名称</th>
                <th>标题</th>
                <th style="width:120px;">发布时间</th>
                <th style="width:120px;">创建时间</th>
                <th style="width:60px;">管理</th>
            </tr>
            <% if (data.length) { %>
                <% data.forEach(function(article){ %>
                    <tr>
                        <td>
                            <%= article.id %>
                        </td>
                        <td>
                            <%= article.categoryName %>
                        </td>
                        <td>
                            <%= article.title %>
                        </td>
                        <td>
                            <%= dateFormat(article.publishTime, 'yyyy-MM-dd hh:mm') %>
                        </td>
                        <td>
                            <%= dateFormat(article.createTime, 'yyyy-MM-dd hh:mm:ss') %>
                        </td>
                        <td><a href="/admin/article/edit/<%=article.id%>">修改</a>
                            <a href="javascript:void(0)" data-id="<%=article.id%>" class="delAction">删除</a>
                        </td>
                    </tr>
                    <% }) %>
                        <% } %>
        </table>
        <table border="0" cellspacing="0" cellpadding="0" align="center" class="xw_table_pager">
            <tr>
                <td>
                    <%-pager%>
                </td>
            </tr>
        </table>
    </form>
</body>

</html>