<!DOCTYPE html>
<html>

<head>
    <title>文章分类列表</title>
    <% include resources.html %>
        <script type="text/javascript">
            function deleteFn(id) {
                _mapp.confirm("确定要删除此信息吗？", function () {
                    var url = "/admin/articleCategory/delete/" + id;
                    $.ajaxGet(url, null, function (result) {
                        if (result === "") {
                            _mapp.alert("删除完成！", function () {
                                window.location.reload(0);
                            });
                        } else {
                            _mapp.alert("删除失败！失败原因：" + result);
                        }
                    }, function (err) {
                        _mapp.alert("删除失败！失败原因：" + err);
                    });
                });
            }

            $(function () {
                $(".tdSortNumber").bind("click", function () {
                    var infoId = $(this).attr("data-id");
                    var sortNumber = $(this).text();
                    $(this).html('<input id="txtSortNumber" value="' + sortNumber + '" class="xw_txtSortNumber" />');
                    $("#txtSortNumber").focus();
                    $("#txtSortNumber").select();
                    $("#txtSortNumber").bind("blur", function () {
                        var newSortNumber = $(this).val();
                        var url = "/admin/articleCategory/sort/" + infoId + "-" + newSortNumber;
                        $(this).parent().html(newSortNumber);
                        $.ajaxGet(url, null, function (result) {
                            window.location.reload(0);
                        }, function (a, e) {
                            window.location.reload(0);
                        });
                    });
                });

                $(".delAction").bind("click", function () {
                    deleteFn($(this).attr("data-id"));
                });
            });
        </script>
</head>

<body>
    <form id="form1" name="form1" method="post" action="" class="xw_container">
        <table border="0" cellspacing="1" cellpadding="0" class="xw_list_table">
            <tr>
                <th style="width:30px;">编号</th>
                <th>分类名称</th>
                <th style="width:140px;">级联编码</th>
                <th style="width:60px;">排序编号</th>
                <th style="width:60px;">管理</th>
            </tr>
            <% if (data.length) { %>
                <% data.forEach(function(category){ %>
                    <tr>
                        <td><%= category.id %></td>
                        <td style="text-align:left"><%=categoryPrefix(category.innerCode)%><%= category.categoryName %></td>
                        <td style="text-align:left"><%= category.innerCode %></td>
                        <td class="tdSortNumber" data-id="<%=category.id%>"><%= category.sortNum %></td>
                        <td><a href="/admin/articleCategory/edit/<%=category.id%>">修改</a>
                            <a href="javascript:void(0)" data-id="<%=category.id%>" class="delAction">删除</a>
                        </td>
                    </tr>
                    <% }) %>
                        <% } %>
        </table>
    </form>
</body>

</html>