<!DOCTYPE html>
<html>

<head>
    <title>位置编辑</title>
    <% include resources.html %>
        <script type="text/javascript">
            $(function () {
                $("#btnSave").bind("click", function () {
                    var data = {
                        id: $("#hideId").val(),
                        positionName: $("#txtPositionName").val(),
                        remark: $("#txtRemark").val(),
                        sortNum: $("#txtSortNum").val(),
                    };

                    var url = "/admin/imgtxtposition/save";
                    $.ajaxPost(url, data, function (result) {
                        if (result === "") {
                            _mapp.alert("保存完成！", function () {
                                window.location = "/admin/imgtxtposition";
                            });
                        } else {
                            _mapp.alert("保存失败！失败原因：" + result);
                        }
                    }, function (err) {
                        _mapp.alert("保存失败！失败原因：" + err);
                    });
                });
            });
        </script>
</head>

<body>
    <form id="form1" name="form1" method="post" action="" class="xw_container">
        <table border="0" cellspacing="1" cellpadding="0" class="xw_edit_table">
            <tr>
                <td class="label">位置名称：</td>
                <td class="input">
                    <input type="text" id="txtPositionName" value="<%=data.positionName%>" class="win" />
                </td>
            </tr>
            <tr>
                <td class="label">位置描述：</td>
                <td class="input">
                    <input type="text" id="txtRemark" value="<%=data.remark%>" class="win" />
                </td>
            </tr>
            <tr>
                <td class="label">SEO关键词：</td>
                <td class="input">
                    <input type="text" id="txtSortNum" value="<%=data.sortNum%>" class="win" />
                </td>
            </tr>
            <tr>
                <td class="label"></td>
                <td class="input">
                    <input type="button" id="btnSave" name="btnSave" value="保存" class="xw_btn" />
                    <input type="hidden" id="hideId" value="<%=data.id%>" />
                </td>
            </tr>
        </table>
    </form>
</body>

</html>