<!DOCTYPE html>
<html>

<head>
    <title>单页面列表</title>
    <% include resources.html %>
	<script type="text/javascript" charset="utf-8" src="/public/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="/public/ueditor/ueditor.all.min.js"> </script>
    <script type="text/javascript" charset="utf-8" src="/public/ueditor/lang/zh-cn/zh-cn.js"> </script>
        <script type="text/javascript">
            $(function () {
                $("#btnSave").bind("click", function () {
                    var data = {
                        flag: $("#hideFlag").val(),
                        id: $("#txtId").val(),
                        title: $("#txtTitle").val(),
                        content: UE.getEditor('txtContent').getContent(),
                        seoTitle: $("#txtSEOTitle").val(),
                        seoKeywords: $("#txtSEOKeywords").val(),
                        seoDescription: $("#txtSEODescription").val(),
                    };

                    var url = "/admin/page/save";
                    $.ajaxPost(url, data, function (result) {
                        if (result === "") {
                            _mapp.alert("保存完成！", function () {
                                window.location = "/admin/page";
                            });
                        } else {
                            _mapp.alert("保存失败！失败原因：" + result);
                        }
                    }, function (err) {
                        _mapp.alert("保存失败！失败原因：" + err);
                    });
                });
            });
        </script>
</head>

<body>
    <form id="form1" name="form1" method="post" action="" class="xw_container">
        <input type="hidden" id="hideRender" value="" />
        <table border="0" cellspacing="1" cellpadding="0" class="xw_edit_table">
            <tr>
                <td class="label">页面名称：</td>
                <td class="input">
                    <input type="text" id="txtId" value="<%=data.id%>" class="win" />
                </td>
            </tr>
            <tr>
                <td class="label">页面标题：</td>
                <td class="input">
                    <input type="text" id="txtTitle" value="<%=data.title%>" class="win" />
                </td>
            </tr>
            <tr>
                <td class="label">页面内容：</td>
                <td class="input">
                    <textarea id="txtContent" name="txtContent" style="width:100%"><%=data.content%></textarea>
                </td>
            </tr>
            <tr>
                <td class="label">SEO标题：</td>
                <td class="input">
                    <input type="text" id="txtSEOTitle" value="<%=data.seoTitle%>" class="win" />
                </td>
            </tr>
            <tr>
                <td class="label">SEO关键词：</td>
                <td class="input">
                    <input type="text" id="txtSEOKeywords" value="<%=data.seoKeywords%>" class="win" />
                </td>
            </tr>
            <tr>
                <td class="label">SEO描述：</td>
                <td class="input">
                    <textarea id="txtSEODescription" class="wtextarea"><%=data.seoDescription%></textarea>
                </td>
            </tr>
            <tr>
                <td class="label"></td>
                <td class="input">
                    <input type="button" id="btnSave" name="btnSave" value="保存" class="xw_btn" />
                    <input type="hidden" id="hideFlag" value="<%=data.id%>" />
                </td>
            </tr>
        </table>
    </form>
	<script type="text/javascript">
		var ue = UE.getEditor('txtContent');
	</script>
</body>

</html>