<!DOCTYPE html>
<html>

<head>
    <title>修改密码</title>
    <% include resources.html %>
        <script type="text/javascript">
            $(function () {
                $("#btnSave").bind("click", function () {
                    var data = {
                        OldPassword: $("#oldPassword").val(),
                        NewPassword: $("#newPassword").val(),
                        NewPassword2: $("#newPassword2").val()
                    };

                    if (data.NewPassword.length < 5) {
                        _mapp.alert("密码长度不低于6位！");
                        return;
                    }

                    if (data.NewPassword != data.NewPassword2) {
                        _mapp.alert("两次输入的密码不同！");
                        return;
                    }

                    var url = "/admin/password/save";
                    $.ajaxPost(url, data, function (result) {
                        if (result === "") {
                            _mapp.alert("保存完成！");
                            $("#oldPassword, #newPassword, #newPassword2").val("");
                        } else {
                            _mapp.alert("保存失败！失败原因：" + result);
                        }
                    }, function (err) {
                        _mapp.alert("保存失败！失败原因：" + err);
                    });
                });
            });
        </script>
</head>

<body>
    <form id="form1" name="form1" method="post" action="" class="xw_container">
        <table border="0" cellspacing="1" cellpadding="0" class="xw_edit_table">
            <tr>
                <td class="label">旧密码：</td>
                <td class="input">
                    <input type="password" id="oldPassword" name="oldPassword" class="win" value="" />
                </td>
            </tr>
            <tr>
                <td class="label">新密码：</td>
                <td class="input">
                    <input type="password" id="newPassword" name="newPassword" class="win" value="" />
                </td>
            </tr>
            <tr>
                <td class="label">确认新密码：</td>
                <td class="input">
                    <input type="password" id="newPassword2" name="newPassword2" class="win" value="" />
                </td>
            </tr>
            <tr>
                <td class="label"></td>
                <td class="input">
                    <input type="button" id="btnSave" name="btnSave" value="保存" class="xw_btn" />
                </td>
            </tr>
        </table>
    </form>
</body>

</html>