<!DOCTYPE html>
<html>

<head>
    <% include resources.html %>
        <script type="text/javascript">
            $(function () {
                $("#btnSearch").bind("click", function () {
                    var keyword = $("#keyTxt").val();
                    var categoryId = $("#hideCategoryId").val();
                    window.location = "/article/list/" + categoryId + "/?k=" + keyword;
                });
            });
        </script>
</head>

<body>

    <% include header.html %>
        <div class="container marketing">
            <h3 class="win_title"><%=category.categoryName%></h3>
            <div class="row marketing">
                <% if (articles.length) { %>
                    <% articles.forEach(function(article){ %>
                        <div class="col-lg-12">
                            <h4 class="news_title"><a href="/article/detail/<%=article.id%>"><%=article.title%></a></h4>
                            <div class="news_time">发布时间：
                                <%=dateFormat(article.publishTime, 'yyyy-MM-dd hh:mm')%>
                            </div>
                            <p class="news_remark">
                                <%=article.description%>
                            </p>
                        </div>
                        <% }) %>

                            <% } %>

            </div>
            <div class="search">
                <div class="search_1">
                    <input type="hidden" id="hideCategoryId" value="<%=category.id%>" />
                    <input name="keyTxt" type="text" id="keyTxt" class="txt" value="" />
                    <input name="Submit" type="button" id="btnSearch" value="搜索" class="btn btn-sm btn-default" />
                </div>
                <div class="search_2">
                    <%-pager%>
                </div>
            </div>

            <% include footer.html %>
        </div>
</body>

</html>